.btn-green {
	width: 80px;
	height: 40px;
	padding: 16px;
	background: #00FECA;
	color: black;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	box-shadow: 5px 5px 5px black;
}

.btn-green:hover {
	color: white;
	background: black;
	box-shadow: 5px 5px 5px #00FECA;
}